@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: #171717;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
}

.gradientText {
  background-image: linear-gradient(
    to right top,
    #27ae60,
    #45be57,
    #64ce4a,
    #85dd36,
    #a8eb12
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText2 {
  background-image: linear-gradient(
    to right top,
    #12b10a,
    #0fb12d,
    #13b042,
    #1caf52,
    #27ae60
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
